.username {
    font-weight: bold;
    cursor: pointer;
}
.card-header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.card-text {
    text-align: left;
}
.card-hashtags {
    text-align: left;
}